<app-places-container title="Available Places">
  @if (isLoading()) {
    <p class="fallback-text">
      Fetching Now.....
    </p>
  }

  @if (isUpdating()) {
    <p class="fallback-text">
      Updating Now.....
    </p>
  }

  @if (error().status) {
    <p class="fallback-text">
      {{error().text}}
    </p>
  }
  @if (places()) {
  <app-places [places]="places()!" (selectPlace)="onSelectPlace($event)"/>
  } @else if (places()?.length === 0) {
  <p class="fallback-text">Unfortunately, no places could be found.</p>
  }
</app-places-container>
